@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-poppins;
  }

  body {
    @apply font-fredoka;
  }

  p,
  span {
    @apply font-roboto;
  }
}

@layer utilities {
  .font-poppins {
    font-family: "Poppins", sans-serif;
  }

  .font-fredoka {
    font-family: "Fredoka", sans-serif;
  }

  .font-roboto {
    font-family: "Roboto", sans-serif;
  }
}

body {
  font-family: 'Inter', sans-serif;
}

button, a, input, .transition-all {
  transition: all 0.3s cubic-bezier(0.4,0,0.2,1);
}